{{#resume.basics}}
<section class="container about-container">
    {{> title value="Contact" level=2}}

    {{#if location}}
        {{#location}}
        {{> info-tag text=(formatAddress address city region postalCode countryCode) icon="fa-map-marker"}}
        {{/location}}
    {{/if}}

    {{#if email}}
        {{> info-tag text=this.email icon="fa-envelope-o"}}
    {{/if}}

    {{#if phone}}
        {{> info-tag text=this.phone icon="fa-mobile fa-2x"}}
    {{/if}}

    {{#if website}}
        {{> info-tag text=this.website icon="fa-desktop" url=this.website}}
    {{/if}}

    {{#if profiles}}
        {{#each profiles}}
            {{> social}}
        {{/each}}
    {{/if}}
</section>
{{/resume.basics}}
