{{#if resume.interests.length}}
    <div class="container interests">
        {{> title value="Interests"}}

        {{#each resume.interests}}
            <section class="interests__item">
                {{#if name}}
                    <span class="bold">{{name}}</span>
                {{/if}}
                {{#if keywords.length}}
                    <ul class="interests__item__keyword-list">
                        {{#each keywords}}
                            <li class="interests__item__keyword-list__item">{{.}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
            </section>
        {{/each}}
    </div>
{{/if}}
