{{#if resume.languages.length}}
    <section class="container languages">
        {{> title value="Languages" level=2}}

        <ul class="languages__list">
            {{#each resume.languages}}
                <li class="languages__list__item">
                    {{language}} {{#if fluency}}<em>({{fluency}})</em>{{/if}}
                </li>
            {{/each}}
        </ul>
    </section>
{{/if}}
