{{#if resume.skills.length}}
    <section class="container skills-container">
        {{> title value="Skills" level=2}}

        {{#each resume.skills}}
            <section class="skill container">
                {{#if name}}
                    {{> section-header name=name }}
                {{/if}}
                {{#if level}}
                    <span class="skill__level">{{level}}</span>
                {{/if}}
                {{#if keywords.length}}
                    <ul class="minimal skill__list">
                        {{#each keywords}}
                            <li class="skill__list__item">{{.}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
            </section>
        {{/each}}
    </section>
{{/if}}
