{{#if resume.volunteer.length}}
<div class="container volunteer-container">
    {{> title value="Volunteer" level=2}}

    {{#each resume.volunteer}}
    <section class="job item">
        {{> section-header name=this.organization headerLevel=3}}
        {{#if position}}
            <span class="job__role">{{position}}</span>
        {{/if}}

        {{#if summary}}
        <p class="summary">{{summary}}</p>
        {{/if}}

        {{#if highlights.length}}
        <ul>
            {{#each highlights}}
            <li>{{.}}</li>
            {{/each}}
        </ul>
        {{/if}}
    </section>
    {{/each}}
</div>
{{/if}}
