{{#if resume.work.length}}
<div class="container work-container">
    {{> title value="Work Experience" level=2}}

    {{#each resume.work}}
        <section class="job item">
            {{> section-header name=this.position headerLevel=3 website=null}}

            {{#if position}}
                <a class="job__company" href={{website}}>{{company}}</a>
            {{/if}}

            {{#if summary}}
                <p class="summary">{{summary}}</p>
            {{/if}}

            {{#if highlights.length}}
                <ul class="job__highlights">
                    {{#each highlights}}
                    <li class="job__highlights__item">{{.}}</li>
                    {{/each}}
                </ul>
            {{/if}}
        </section>
    {{/each}}
</div>
{{/if}}
