html {
    @include lato();

    font-size: $rem-size;
    background: $gray-lightest;
    margin: 50px 0 100px;
    letter-spacing: .3px;
    color: $secondary-color;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;

    &:hover {
        color: $link-color;
    }

    .fa-external-link {
        font-size: 10px;
        vertical-align: text-top;
    }
}

p,
li {
    @include font-size(3);
}

blockquote {
    @include font-size(3);
    @include lato($isItalic: true);

    margin: spacing(2) spacing(5);
}

em {
    color: $gray-dark;
}

ul {
    margin: spacing(2) 0 0;
    -webkit-padding-start: spacing(5);

    li {
        padding-left: spacing(2);
    }

    &.minimal {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 3px;
            padding-left: 0;
        }
    }

    &.two-column {
        -webkit-column-count: 2;
        -webkit-column-gap: spacing(5.6);
        column-count: 2;
        column-gap: spacing(5.6);

        li {
            padding-left: 0;
        }
    }
}

@page {
    size: A4;
}
