.education-container {
    .location {
        padding-bottom: 6px;
        font-weight: 400;
    }
    .specialization {
        text-transform: none;
        font-style: italic;
    }
}


.education {

}

.education__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.education__item__location {
    @include lato(300);
    @include font-size($item-title-size);
    margin-left: 15px;
}

.education__item__specialization {
    @include lato(300);
    @include font-size($basic-text-size);

}

.education__item__type-area {
    @include lato(300);
    @include font-size($item-title-size);
}

.education__item__gpa {
    @include lato(300);
    @include font-size($item-title-size);
}

.education__item__courses {
    list-style: none;
}
