.project__keywords {
    @include lato(300);
    @include font-size($basic-text-size);
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    margin: 0px;
}

.project__role {
    @include lato(300);
    @include font-size($item-title-size);
    margin: 0;
}
