/*----- Colors -----*/

$gray-darkest           : #333;
$gray-darker            : #666;
$gray-dark              : #999;
$gray                   : #ccc;
$gray-light             : #ddd;
$gray-lighter           : #eee;
$gray-lightest          : #f8f8f8;

$slate-gray             : #39424B;
$slate-green            : #56817A;

$primary-color          : $slate-green;
$secondary-color        : $slate-gray;

$link-color             : #2895F1;

/*----- Fonts -----*/

$primary-font           : 'Lato', Helvetica, Arial, sans-serif;
$secondary-font         : 'Josefin Sans', Helvetica, Arial, sans-serif;

$bold-weight            : 700;
$light-weight           : 300;

$rem-size               : 14px;
$font-unit              : 0.25rem;
$title-size             : 10;
$section-header-size    : 5;
$item-title-size        : 4;
$basic-text-size        : 3;

/*----- Dimensions and sizes -----*/

$print-width            : 21cm;
$print-height           : 29.7cm;
$page-width             : 612px;
$page-height            : 792px;

$mobile-width           : 435px;
$tablet-width           : 768px;
$laptop-width           : 992px;
$desktop-width          : 1200px;
$retina-width           : 1920px;

$profile-pic-size       : 52px;
$aside-width            : 160px;
$aside-margin           : 20px;
$pad-unit               : 5px;
